<div class="container-fluid no-padding">
				
  <div class="col-xs-12 col-sm-4 login_sec ">
    <div class="col-xs-12 col-sm-12 login_form_details no-padding">
      <div class="col-xs-12 col-sm-12 no-padding wow fadeIn" data-delay="200" data-wow-delay="0.1s">
        <img src="assets/logo.png" alt="Task Bench" title="Task Bench" class="img-responsive logo" />
      </div>
      
      <div class="col-xs-12 col-sm-12 no-padding">
        <form class="form-inline login_form">
          <div class="form-group text-center col-xs-12 col-sm-12 no-padding wow fadeIn" data-delay="200" data-wow-delay="0.2s">
              
            <input type="email" name="email" class="form-control parsley-validated" placeholder="Email" value="" required="">
          </div>
          <div class="form-group text-center col-xs-12 col-sm-12 no-padding wow fadeIn" data-delay="200" data-wow-delay="0.5s">
              
            <input type="password" name="password" class="form-control parsley-validated" placeholder="Password" value="" required="">
          </div>
          <div class="col-xs-12 col-sm-12 remember_forgotpwd no-padding wow fadeIn" data-delay="200" data-wow-delay="0.7s">
            <div class="form-group col-xs-12 col-sm-6 no-padding">
              <!-- <label class="cust_checkbox">Remember me
                <input type="checkbox" ><span class="checkmark"></span>
              </label> -->
              
            </div>
            <div class="form-group col-xs-12 col-sm-6 no-padding">
              
                <a href="#" class="forgot_password">Forgot Password?</a>
              
              
            </div>
          </div>
          
          <div class="form-group text-center col-xs-12 col-sm-12 no-padding wow fadeIn" data-delay="200" data-wow-delay="0.9s">
            <a href="home.php" class="btn btn-default signin_btn">Sign In</a>
            <!--<button type="submit" class="btn btn-default signin_btn" disabled="disabled">Sign In</button>-->
          </div>
          
        </form>
      </div>
      
          </div>
    <div class="go-premium wow fadeIn" data-delay="200" data-wow-delay="1s">
      <a href="#" >Go Premium</a>
    </div>
  </div>
  <div class="login_image">
    <div class="col-xs-12 login_table">
      <div class="col-xs-12 login_text">
        <h2 class="wow fadeIn" data-delay="200" data-wow-delay="0.5s">Join Our Community</h2>
        <p class="wow fadeIn" data-delay="200" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod</p>
      </div>	
      
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>

